* {
  box-sizing: border-box;
  background-color: salmon;
  font-size: 25px;
}

.container {
  display: grid;
  border: 1px solid black;
  width: fit-content;
  margin: 10% auto;
  grid-template-rows: repeat(4, 30px);
  grid-template-columns: 170px 70px 220px;
  gap: 18px;
}

.griditem {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.item-0 {
  background-color: pink;
  grid-row: 1;
  justify-self: start;
}

.item-1 {
  background-color: red;
  grid-row: 1 / span 2;
  margin: 22px 0;
  justify-self: start;
}

.item-2 {
  background-color: blue;
  justify-self: start;
}

.item-3 {
  background-color: purple;
  grid-row: 3 / 4;
  justify-self: start;
}

.item-4 {
  background-color: green;
  grid-column: 3;
  justify-self: start;
}

.item-5 {
  background-color: lightblue;
  justify-self: start;
}

.item-6 {
  background-color: yellow;
  justify-self: start;
}

.item-7 {
  background-color: pink;
  grid-column: 2 / -1;
  justify-self: start;
}
