* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  background-color: aliceblue;
}

.flexbox {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
}

.flexitem {
  display: flex;
  align-items: center;

  justify-content: center;
}

.flexbox li {
  width: 16.66667%;
  min-width: 230px;

  height: 40px;
}

.item-1 {
  background-color: royalblue;
}

.item-2 {
  background-color: gray;
}

.item-3 {
  background-color: pink;
}

.item-4 {
  background-color: blueviolet;
}

.item-5 {
  background-color: green;
}

.item-6 {
  background-color: wheat;
}
