.flex-container {
  display: flex;
  border: 3px solid black;
}

.flex-child {
  border: 1px solid green;
  height: 300px;
}

* {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}
