.flex-container {
  display: flex;
  border: 3px solid black;
  flex-wrap: wrap;
}

.flex-child {
  border: 1px solid green;
  height: 270px;
  width: 230px;
}

body {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.een,
.vijf,
.negen {
  background-color: yellow;
}

.twee,
.zes,
.tien {
  background-color: red;
}

.drie,
.zeven {
  background-color: blue;
}

.vier,
.acht {
  background-color: purple;
}
